# SPDX-License-Identifier: GPL-2.0-only
# Generic Trusted Execution Environment Configuration

menu "DRM HEAP Drivers"
	depends on AW_BSP

config AW_DRM_HEAP
	tristate "Allwinner drm heap"
	default n
	depends on AW_SMC
	select TEE
	help
	  This implements a interface for sunxi drm management

endmenu
