# SPDX-License-Identifier: GPL-2.0-only
# Generic Trusted Execution Environment Configuration

menu "AW ansc adaption"

config AW_ANSC_DMA_ADAPT
	bool "ansc dma adapter"

if AW_ANSC_DMA_ADAPT

config FORCE_MAX_ZONEORDER
	int "Maximum zone order"
	default "9"
	help
	  The kernel memory allocator divides physically contiguous memory
	  blocks into "zones", where each zone is a power of two number of
	  pages.  This option selects the largest power of two that the kernel
	  keeps in the memory allocator.  If you need to allocate very large
	  blocks of physically contiguous memory, then you may need to
	  increase this value.

	  This config option is actually maximum order plus one. For example,
	  a value of 11 means that the largest free memory block is 2^10 pages.

choice
	prompt "adapter type"
	default AW_ANSC_DMA_OPS

config AW_ANSC_NO_DIRECT_DMA
	bool "direct dma api"
	#prohibit default non-cache alloc
	select ARCH_HAS_UNCACHED_SEGMENT
	select ARCH_HAS_DMA_COHERENT_TO_PFN

config AW_ANSC_DMA_OPS
	bool "overwrite dma ops"
	depends on DMA_CMA
	help
	 "overwrite default ansc dummy dma ops for drivers"


endchoice
endif

config AW_ANSC_CMA_NON_CACHE
	depends on AW_BSP
	depends on PMA
	depends on DMA_CMA
	bool "set cma memory non_cache for devices"
	default n
	help
	  This help non-cache memory using with ansc platform

source "$(BSP_TOP)drivers/ansc_adaptor/kasan/Kconfig"

endmenu


