# SPDX-License-Identifier: GPL-2.0
#
# Allwinner isp-param driver.
#

config AW_ISP_PARAM
  tristate "Allwinner isp-param driver"
  depends on AW_FLASHAPP
  depends on VIN_INIT_MELIS
  help
    Allwinner isp-param driver

